#nav-top {
    display:flex;
    justify-content:space-between;
    padding:10px;
}
#menu {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right:20px;
    border-radius:0px 30px 30px 0px;
    position:absolute;
    background-color:#10789f;
    margin-top:8px;
    opacity:0;
    box-shadow: 2px 2px 4px #222;
    z-index:2222;
}
#menu h4 {
    color:white;
    padding-bottom:5px;
    border-bottom:1px solid white;
}
#menu i {
    width:30px;
    text-align: center;
    z-index:2222;
}
#menu a {
    color:white;
}

.menu-in { animation: menuIn 0.3s forwards 0.1s; }
.menu-out { animation: menuOut 0.3s forwards; }

@keyframes menuIn {
    0%{ opacity:0; left:-100px; }
    100%{ opacity:1; left:-15px; }
}
@keyframes menuOut {
    0%{ opacity:1; left:-15px; }
    100%{ opacity:0; left:-100px; }
}

#icono-menu {
    font-size:1.5rem;
    border-radius:100%;
    padding:8px 12px;
    background:orange;
    color:white;
    rotate: 0deg;
}
.fav-giro-in { animation: rotateIn 0.5s forwards; }
.fav-giro-out { animation: rotateOut 0.5s forwards; }

@keyframes rotateIn {
    0% {rotate:360deg;background:orange; }
    100% {rotate:0deg;background:orangered; }
}
@keyframes rotateOut {
    0% {rotate:0deg;background:orangered; }
    100% {rotate:360deg;background:orange; }
}

#search {
    font-size:2rem;
    border-radius:100%;
    padding:15px 20px;
    background:aqua;
    color:white;
    rotate: 0deg;
}

 #mapa {
     border-top: 2px solid #aaa;
     border-bottom: 2px solid #aaa;
 }

 #categorias i {
     font-size: 2rem;
 }

 #categorias div {
     height:80px;
     display:flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     border-radius:5px;
     cursor:pointer;
     font-size: 1rem;
 }
 #categorias:hover > div {
    height:85px;
 }
 #galeria div {
    overflow: hidden;
    padding:5px;
 }
 #galeria img {
    transform:scale(3);
 }
 #info {
      padding:5px 15px;
      border:2px solid grey;
      background:white;
      border-radius:100%;
      z-index:2222;
      position:absolute;
      right:20px;
      top:210px;
      cursor:pointer;
}
#btnMapa {
    padding:5px 10px;
    border:2px solid grey;
    background:white;
    border-radius:100%;
    z-index:2222;
    position:absolute;
    right:75px;
    top:210px;
    cursor:pointer;
}
#info i, #btnMapa i {
    font-size:1.5rem; 
}
#info-puesto {
    display:none;
    color:#10789f;
    padding:10px 0px;
}
#info-puesto i {
    width:30px;
}