
@font-face {
  font-family: 'atlantic_cruise';
  src: url('./../fonts/Atlantic_Cruise.ttf');
}

body, html { width:100%!important;height:100%!important; }
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  /*color: #e03a3c;*/
  color:#fff;
}

a:hover {
  /*color: #e76668;*/
  color:#eee;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #e03a3c;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #e35052;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

/*
.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #e03a3c;
  bottom: 0;
  left: calc(50% - 25px);
}
*/

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #e03a3c;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
}

.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #e03a3c;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #e03a3c !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/* VARIADO MAIN */
.titulo_seccion {
  font-size:2.5rem;
  font-weight: 666;
  color:#ccc;
  text-transform: uppercase;
}

/* SLIDE MAIN */


#slide-caja:before {
  content: "";
  background: rgba(172, 172, 172, 0.2);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#slide-caja h1 {
  margin: 0;
  font-size: 6vw;
  font-weight: 700;
  color: #fff;
}

#slide-caja h2 {
  color: #fff;
  margin: 10px 0 0 0;
  font-size: 24px;
}

.btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  color: #fff;
  background: rgba(58, 58, 58, 0.5);
  border: 2px solid rgb(225, 255, 255);
}

#slide-caja .btn-get-started:hover {
  background: transparent;
  border-color: #fff;
}

/* CATEGORÍAS */
.caja_categoria {
  overflow:hidden;
  text-align:center;
  padding:0!important;
  cursor:pointer;
  border:0px solid red;
}
.caja_categoria p {
  margin-bottom:0;
}
.caja_categoria i {
  font-size:2rem;
}
.caja_categoria a {
  color:white!important;
  margin:0;
  text-shadow:2px 2px 6px #333;
}
.caja_categoria img {
  position:absolute;
  width:100%;
  transition:0.5s;
  top:0; left:0;
  z-index:-1!important;
}
.caja_categoria div {
  padding:3rem 0px;
  width:100%!important; height:100%;
  margin:0;
  scale:1.3;
  transition:0.3s;
  z-index:2!important;
}
.caja_categoria div:hover {
  background-color:rgba(63, 82, 69, 0.5);
  scale:1.28;
}
#brillo_categoria {
  width:25px!important;
  height:110%!important;
  position:absolute;
  left:-15%;
  filter:blur(15px);
  transform:rotate(25deg);
  opacity:0.5;
  background:white;
  z-index:2222;
  transition-delay:0.2s;
}
.img_categoria { scale:1.1; }
.caja_categoria:hover .img_categoria {
  scale:1.2;
}
.caja_categoria:hover #brillo_categoria {
  left:120%;
}
.plantas_animales { background-color:rgba(58, 148, 85, 0.6); }
.alimentos_bebidas { background-color:rgba(170, 98, 57, 0.6); }
.banio_cocina { background-color:rgba(58, 71, 148, 0.6); }
.electronica_entretenimiento { background-color:rgba(140, 58, 148, 0.6); }
.vestimenta { background-color:rgba(129, 30, 47, 0.6); }
.anticuarios { background-color:rgba(160, 155, 83, 0.6); }
.libros_revistas { background-color:rgba(125, 155, 134, 0.6); }
.bazar { background-color:rgba(71, 160, 138, 0.6); }
.bricolaje { background-color:rgba(174, 132, 214, 0.6); }
.papeleria { background-color:rgba(127, 161, 87, 0.6); }
.repuestos { background-color:rgba(163, 115, 123, 0.6); }
.mercado_pulgas { background-color:rgba(146, 125, 80, 0.6); }

.section_feria {
  padding:0;
}

/* SUBCATEGORÍAS */
.li_sub_1 {
  margin:0; padding-top:0; padding-bottom:0;
}
.li_sub_2 {
  margin:-10px; padding-top:0; padding-bottom:0;
}
.li_sub_1, .li_sub_2 { list-style: none }
.li_sub_1::before, .li_sub_2::before {
  content: "● ";
  color: rgb(212, 201, 170);
}
.modal-dialog {
  max-width:80%!important;
  height:80%!important;
}
.modal-content {
  height:100%!important;
}
.modal-body {
  height:100%!important;
}

/* ARTICULOS */
.text_articulos_p {
  line-height: 1.8rem;
}

/* MENU */
.navbar-toggler {
  color:rgba(0, 0, 0, 1);
  border-color:none!important;
}
#cajaMenuVer h4 {
  font-family:'arial'!important;
}
.titulo-caja-menu {
  background-color:rgba(0,0,0,0.3);
  font-family:'atlantic_cruise'!important;
  font-size:2rem;
}
#cajaMenuVer h5, #cajaMenuVer li {
  position:relative;
  left:0px;
  transition:0.3s;
  line-height:1rem;
}
#cajaMenuVer h5::before, #cajaMenuVer li::before {
  content:'■';
  font-size:1.6rem;
  margin-right:5px;
  cursor:pointer;
  color:rgba(255, 255, 255, 0.5);
}
#cajaMenuVer h5:hover, #cajaMenuVer li:hover {
  left:4px;
}
#cajaMenuVer ul {
  padding-left:0px;
  list-style:none;
}
#menu-caja-1, #menu-caja-2, #menu-caja-3 {
  overflow:hidden;
}
#menu-caja-1 video, #menu-caja-2 video, #menu-caja-3 video {
  z-index:-2;
  position: absolute;
  top: 10%; 
  left: 10%;
  -webkit-transform: translateX(-30%) translateY(-50%);
  transform: translateX(-30%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  scale:0.8;
}
#menu-caja-2 video {
  -webkit-transform: translateX(-30%) translateY(-20%);
  transform: translateX(-30%) translateY(-20%);
}
#menu-caja-2 ul {
  margin-left:25px;
}
.links a {
  box-shadow: 2px 2px 4px #444!important;
}
/* SUBMENU */
#btnSubMenu {
  
}
#cajaSubMenu {
  display:inline-block;
  background:#777;
  padding:8px 10px;
  border-radius:5px;
}
#cajaSubMenu i {
  font-size:1.8rem;
  margin:0px 5px;
  color:#eee;
  cursor:pointer;
}
.cajaSubMenuIn {
  position:relative;
  left:5px;
  animation: cajaSubIn 0.5s forwards; 
}
@keyframes cajaSubIn {
  0% {left:5px;}
  100% {left:20px;}
}
.cajaSubMenuOut {
  position:relative;
  left:20px;
  animation: cajaSubOut 0.5s forwards; 
}
@keyframes cajaSubOut {
  0% {left:20px;}
  100% {left:5px;}
}
.subRotateIn {
  transform:rotate(0deg);
  animation: rotateIn 0.5s forwards;
}
@keyframes rotateIn {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(540deg);}
}
.subRotateOut {
  transform:rotate(360deg);
  animation: rotateOut 0.5s forwards;
}
@keyframes rotateOut {
  0% {transform:rotate(540deg);}
  100% {transform:rotate(0deg);}
}

.category .links-wrap .toggle .fa:before{content:'\f104'}
.category.active .links-wrap .toggle .fa:before{content:'\f105'}

.category .links-wrap .links{
	left:0;
	width:inherit;
	height:inherit;
	position:inherit;
	border-radius:inherit;
	transition:all .4s ease-in-out 0s;
}
.category .links-wrap .links:before,
.category .links-wrap .links:after{
	width:100px;
	height:100px;
	transition:inherit;
	background:rgba(0,0,0,.2);
}
.category .links-wrap .links:before{
	top:-100px;
	border-radius:100px 0 0 0;
}
.category .links-wrap .links:after{
	bottom:-100px;
	border-radius:0 0 0 100px;
}
.category.active .links-wrap .links:before{top:0}
.category.active .links-wrap .links:after{bottom:0}

.category .links a{
	top:50%;
	z-index:1;
	right:55px;
	width:42px;
	height:42px;
	color:rgba(0,0,0,.5);
	margin-top:-21px;
	line-height:42px;
	text-align:center;
	border-radius:50%;
	background:white;
	position:absolute;
	display:inline-block;
	transform:translate(0,0) scale(0) rotate(360deg);
	transition:all .4s ease-in-out 0s;
}
.category.active .links a{right:80px}
.category.active .links-wrap .links a:nth-child(1){transform:translate(-40px,-50px) scale(1) rotate(0deg)}
.category.active .links-wrap .links a:nth-child(2){transform:translate(-70px,0px) scale(1) rotate(0deg)}
.category.active .links-wrap .links a:nth-child(3){transform:translate(-40px,55px) scale(1) rotate(0deg)}

/* MAIN SECTION */
#mainFeria {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100%!important;
  background-image:url('./assets/img/banner/banner_1.jpg');
  background-size:cover;
}
#mainFeria > img:first-child {
  position:absolute;
  left:10px;
  top:10px;
  width:10vw;
  display:none;
}
#mainFeria > div:first-child {
  z-index:-1;
  position:absolute;
  background:rgba(80, 74, 73, 0.4);
  width:100%;
  height:100%;
}
#logoMainLeft {
  width:10vw;
  position:absolute;
  top:10px;
  left:10px;
  display:none;
}
#logoMainCenter {
  width:22vw!important;
}
#mainFeria h1 {
  font-size:2vw;
  color:rgba(255, 255, 255,0.8);
  font-weight: 999;
}
#mainFeria h1 > span {
  font-family:arial;
  font-weight: 555;
}
#mainFeria h2 {
  margin:1vw 1vw 3vw 1vw;
  font-size:3vw;
  color:rgba(255, 255, 255,0.8);
  font-weight: 999;
}
#mainFeria #redes i {
  font-size:3vw;
  color:white;
  margin:0vw 2vw;
}
#mainVideo {
  z-index:-2;
  position:absolute;
  width:100%;
  height:100%;
  scale:1.3;
  display:block;
}
#mainVideo2 {
  width:560px;
  height:315px;
  display:block;
}
#videoMainM4v {
  z-index:-2;
  position:absolute;
  width:100%;
  transform: scale(1.2);
}
#mainVideoHorizontal, #mainVideoVertical {
  z-index:-2;
  position:absolute;
  width:100%;
}
#mainVideoHorizontal { scale:1.2; }
#mainVideoVertical { scale:1.4; }
#mainControls{
  position:absolute;
  top:10px;
  right:10px;
  width:auto!important;
  height:auto!important;
  display:inline!important;
  z-index:-1;
}
#mainControls button {
  background:none;
  color:white;
  border:none;
  font-size:2vw;
  outline:none;
}
#redesInfo {
  text-align: center;
}
#mainInfo {
  padding:0px!important;
  margin:0px!important;
  background:white;
  position:absolute;
  display:block;
  top:0px;
  left:0px;
  width:100%;
  height:100%!important;
  background:white;
  z-index:3333;
}
#mainInfo h2 {
  margin:4vw 0vw;
  text-align: center;
}
#redesInfo i {
  color:rgb(46, 44, 44);
  font-size:2vw;
  margin:0vw 2vw;
}
.txtFeriaTristan {
  font-weight: 900;
  color:rgb(172, 123, 77);
}
#redes i {
  font-size:2.5vw!important;
}

#menu-caja-1 {
  background-image:url('./../img/menu/menu_links_principales.jpg');background-size:cover;
}
#menu-caja-2 {
  background-image:url('./../img/menu/menu_paseo_feria.jpg');background-size:cover;
}
#menu-caja-3 {
  background-image:url('./../img/menu/menu_wiki_feria.jpg');background-size:cover;
}

/* CÓMO LLEGAR */
#mainComoLlegar h1 {
  font-size:2rem;
  font-weight:900;
}
#mainComoLlegar h2 {
  font-size:2rem;
  font-weight:600;
  color:rgb(28, 56, 114);
}
#mainComoLlegar i {
  font-size:1.5rem;
}
#mainComoLlegar h2 > span {
  position:relative;
  left:0px;
}
#mainComoLlegar h2 > span > i {
  font-size:1.2rem;
  font-weight:600;
  color:rgb(255, 72, 0);
  position:relative;
  left:0px;
}
#mainComoLlegar span {
  font-size:1rem;
  font-weight: normal;
}
#mainComoLlegar h2, #mainComoLlegar span {
  position:relative;
  left:20px;
}
#mainComoLlegar hr {
  border:1px solid #bbb;
  margin:20px 0px;
}
/* PASEO DE LA FERIA */
.pagsPaseoFeria h1 {
  font-family:'atlantic_cruise';
}

/* PRONÓSTICO */
#pronostico {
  display:inline-block;
  position:absolute;
  right:-70%;
  z-index:222!important;
}
#cont_538875467e9b3c1b462f496eef1c6563 {
  background:transparent!important;
  border:none!important;
}

@media screen and (max-width:900px) {
  #mainControls button {
    font-size:7vw;
  }
  #mainFeria img {
    width:40vw;
  }
  #mainFeria h2 {
    font-size:7vw;
    margin:4vw 1vw 8vw 1vw;
  }
  #mainVideo {
    display:none;
  }
  #logoMainCenter {
    width:45vw!important;
    -ms-width:24vw;
    -moz-width:24vw;
    -webkit-width:24vw;
  }
  #logoMainLeft {
    width:20vw!important;
  }
  #videoMainM4v {
    transform: scale(4);
   -ms-transform: scale(4);
   -moz-transform: scale(4);
   -webkit-transform: scale(4);
  }
  #mainFeria #redes i {
    font-size:8vw!important;
    margin: 0vw 3.5vw;
  }
  #redesInfo i {
    color:rgb(46, 44, 44);
    font-size:5vw;
    margin:0vw 3vw;
  }
  #mainComoLlegar h2, #mainComoLlegar span {
    left:0px;
  }
  footer {
    position:fixed;
    display:block;
    bottom:0px;
    left:0px;
  }
  body {
    background-color:white!important;
    background-image:none!important;
  }
}