@import url('./menu.css');
@import url('./main.css');
@import url('./como_llegar.css');
@import url('./paseoFeria.css');
@import url('./pronostico.css');

@font-face {
  font-family: 'atlantic_cruise';
  src: url('./../fonts/Atlantic_Cruise.ttf');
}

body, html { width:100%!important;height:100%!important; }
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  /*color: #e03a3c;*/
  color:#fff;
}

a:hover {
  /*color: #e76668;*/
  color:#eee;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #e03a3c;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #e35052;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}
/* ARTICULOS */
.text_articulos_p {
  line-height: 1.8rem;
}




@media screen and (max-width:900px) {
  #mainControls button {
    font-size:7vw;
  }
  #mainFeria img {
    width:40vw;
  }
  #mainFeria h2 {
    font-size:7vw;
    margin:4vw 1vw 8vw 1vw;
  }
  #mainVideo {
    display:none;
  }
  #logoMainCenter {
    width:45vw!important;
    -ms-width:24vw;
    -moz-width:24vw;
    -webkit-width:24vw;
  }
  #logoMainLeft {
    width:20vw!important;
  }
  #videoMainM4v {
    transform: scale(4);
   -ms-transform: scale(4);
   -moz-transform: scale(4);
   -webkit-transform: scale(4);
  }
  #mainFeria #redes i {
    font-size:8vw!important;
    margin: 0vw 3.5vw;
  }
  #redesInfo i {
    color:rgb(46, 44, 44);
    font-size:5vw;
    margin:0vw 3vw;
  }
  #mainComoLlegar h2, #mainComoLlegar span {
    left:0px;
  }
  footer {
    position:fixed;
    display:block;
    bottom:0px;
    left:0px;
  }
  body {
    background-color:white!important;
    background-image:none!important;
  }
}